/* Global styles
------------------------------------*/

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* ------------------------------------*/

$backgrounddarkerBlue: #0c6396;
$backgroundLighterBlue: #008dc4;

#messageDiv {
  background: $backgroundLighterBlue;
}

#titleDiv {
  background: $backgrounddarkerBlue;
}
