/* Global styles
------------------------------------*/
html {
  box-sizing: border-box; }

*,
*:before,
*:after {
  box-sizing: inherit; }

a {
  margin-bottom: 100px; }

.leader {
  background-image: url("/images/leader.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

.theme--medium .leadersMessage {
  background: #008dc4;
  color: white; }

.theme--medium .leadersMessage__seeMore {
  color: white;
  text-decoration: none; }

.theme--medium .leadersMessage__seeMore :focus,
.theme--medium .leadersMessage__seeMore :hover {
  color: white;
  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-underline-offset: 2px; }

.theme--medium .leader__info {
  background: #0c6396;
  opacity: 1;
  color: white;
  padding: 8px 24px;
  position: absolute;
  bottom: 0px;
  right: 0px;
  left: 0px; }

.theme--light .leadersMessage {
  background: white;
  color: #0a2554; }

.theme--light .leadersMessage__seeMore {
  color: #0a2554;
  text-decoration: none; }

.theme--light .leadersMessage__seeMore:focus,
.theme--light .leadersMessage__seeMore:hover {
  color: #0a2554;
  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-underline-offset: 2px;
  text-decoration-color: #42c3af; }

.theme--light .leader {
  position: relative; }

.theme--light .leader__info {
  background: #0a2554;
  opacity: 0.7;
  color: white;
  padding: 5px 18px;
  position: absolute;
  bottom: 24px;
  left: 40%;
  width: 60%; }

@media (max-width: 767px) {
  .theme--light .leader {
    background-position: top;
    height: 24vh; } }

@media (min-width: 768px) and (max-width: 992px) {
  .theme--light .leader__info {
    left: 0%;
    width: 80%; } }

@media (min-width: 993px) {
  .theme--light .leader__info {
    left: 40%;
    width: 60%; } }

.theme--dark .leadersMessage {
  background: #0a2554;
  color: white;
  position: relative; }

@media (max-width: 576px) {
  .theme--dark .leadersMessage__seeMore {
    right: 20px; }
  .theme--dark .leadersMessage__seeMore:focus,
  .theme--dark .leadersMessage__seeMore:hover {
    right: 20px; } }

.theme--dark .leadersMessage__seeMore {
  color: white;
  text-decoration: none;
  left: 0px; }

.theme--dark .leadersMessage__seeMore:focus,
.theme--dark .leadersMessage__seeMore:hover {
  color: white;
  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-underline-offset: 2px;
  text-decoration-color: #42c3af;
  left: 0px; }

.theme--dark .leader__info {
  background: rgba(102, 186, 219, 0.15);
  color: white;
  width: 100%;
  padding: 8px 90px; }

.theme--dark .leader {
  background-position: left;
  background-size: contain; }
