/* Global styles
------------------------------------*/
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a {
  margin-bottom: 100px;
}

.leader {
  background-image: url("/images/leader.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

//////////////////////////////////////////////////////////// First Layout /////////////////////////////////////////////////////////////////////

$backgroundDarkerBlue: #0c6396;
$backgroundLighterBlue: #008dc4;

.theme--medium {
  .leadersMessage {
    background: $backgroundLighterBlue;
    color: white;
  }

  .leadersMessage__seeMore {
    color: white;
    text-decoration: none;
  }

  .leadersMessage__seeMore :focus,
  .leadersMessage__seeMore :hover {
    color: white;
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-underline-offset: 2px;
  }

  .leader__info {
    background: $backgroundDarkerBlue;
    opacity: 1;
    color: white;
    padding: 8px 24px;
    position: absolute;
    bottom: 0px;
    right: 0px;
    left: 0px;
  }
}

//////////////////////////////////////////////////////////////// second Layout ////////////////////////////////////////////////////////////////

$textAndBackgroundNavyBlue: #0a2554;
$textDecoartionGreen: #42c3af;

.theme--light {
  .leadersMessage {
    background: white;
    color: $textAndBackgroundNavyBlue;
  }

  .leadersMessage__seeMore {
    color: $textAndBackgroundNavyBlue;
    text-decoration: none;
  }

  .leadersMessage__seeMore:focus,
  .leadersMessage__seeMore:hover {
    color: $textAndBackgroundNavyBlue;
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-underline-offset: 2px;
    text-decoration-color: $textDecoartionGreen;
  }

  .leader {
    position: relative;
  }

  .leader__info {
    background: $textAndBackgroundNavyBlue;
    opacity: 0.7;
    color: white;
    padding: 5px 18px;
    position: absolute;
    bottom: 24px;
    left: 40%;
    width: 60%;
  }

  @media (max-width: 767px) {
    .leader {
      background-position: top;
      height: 24vh;
    }
  }

  @media (min-width: 768px) and (max-width: 992px) {
    .leader__info {
      left: 0%;
      width: 80%;
    }
  }

  @media (min-width: 993px) {
    .leader__info {
      left: 40%;
      width: 60%;
    }
  }
}

//////////////////////////////////////////////////////////////// third Layout ////////////////////////////////////////////////////////////////

$infoBackgroundLighterNavyBlue: #66badb;

.theme--dark {
  .leadersMessage {
    background: $textAndBackgroundNavyBlue;
    color: white;
    position: relative;
  }

  @media (max-width: 576px) {
    .leadersMessage__seeMore {
      right: 20px;
    }

    .leadersMessage__seeMore:focus,
    .leadersMessage__seeMore:hover {
      right: 20px;
    }
  }

  .leadersMessage__seeMore {
    color: white;
    text-decoration: none;
    left: 0px;
  }

  .leadersMessage__seeMore:focus,
  .leadersMessage__seeMore:hover {
    color: white;
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-underline-offset: 2px;
    text-decoration-color: $textDecoartionGreen;
    left: 0px;
  }

  .leader__info {
    background: rgba($infoBackgroundLighterNavyBlue, 0.15);
    color: white;
    width: 100%;
    padding: 8px 90px;
  }

  .leader {
    background-position: left;
    background-size: contain;
  }
}
